@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px ;cursor:pointer}
.w3-half img:hover{opacity:1}
video{border: 2px solid #ECECEC;
box-sizing: border-box;  box-shadow:  24px -24px 67px #f54f4a,
             -2px 2px 67px #f54f4a;}



             
